@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    max-width: 100%;
}
/*primary bg: #0eb131 */
.my-container{
    @apply mx-auto max-w-screen-lg
}
.text-hover{
    @apply text-gray-800 hover:text-[#211C6A]
}
.nav-items{
    @apply text-white py-4 px-4 hover:bg-[#030637]  border-r
}
