@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    max-width: 100%;
}
/*primary bg: #0eb131 */
.my-container{
    @apply mx-auto max-w-screen-lg
}
.active{
   @apply text-blue-600 md:py-4 py-2 text-sm hover:text-gray-500
}
.default{
    @apply text-gray-200 md:py-4 py-2 text-sm hover:text-gray-500
}
/* .nav-items{
    @apply 
} */
.table :where(th, td){
    @apply pl-0 pr-0 md:pl-4 md:pr-4
}
.hero-bg{
    background-image: url('/hero-wrapper.png');
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 20px;
}
.hero-bg2 {
    background-image: linear-gradient(to right, #36c574, #299B90);
    
  }